@model ShoppingCart

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model != null && Model.CartDetails != null && Model.CartDetails.Count > 0)
    {
        <h5>My Cart</h5>

        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Category</th>
                <th>Listed Price</th>
                <th>Total Price</th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model.CartDetails)
            {
                <tr>
                    <td>@item.Product.Title</td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Product.ImageUrl))
                        {
                            <img src="/images/NoImage.png" style="width:80px;height:100px" />
                        }
                        else
                        {
                            <img src="@item.Product.ImageUrl" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@item.Product.Category</td>
                    <td>@item.Product.ListPrice X @item.Quantity</td>
                    <td>@(item.Product.ListPrice * item.Quantity)</td>
                    <td>
                        @* Increase Quantity button should be invisible if not enough stock*@
                        @if (item.Quantity < item.Product.Stock)
                        {
                            <a class="btn btn-info" href="@Url.Action("AddItem", "Cart", new { productId = item.ProductId, qty = 1, redirect = 1 })">+</a>
                        }
                        else
                        {
                            <span style="border: 1px solid;padding: 8px 8px;color: red;border-radius: 5px;margin-right:4px">Out of stock </span>
                        }
                        @* Decrement button *@
                        <a class="btn btn-info" href="@Url.Action("RemoveItem", "Cart", new { productId = item.ProductId })">-</a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2">
            <h5><b>Total: <span>@(Model.CartDetails.Select(item => item.Product.ListPrice * item.Quantity).Sum().ToString("c"))</span></b></h5>
            
        </div>

        <div class="my-2">
            <a asp-area="Customer" asp-controller="Cart" asp-action="Checkout" class="btn btn-primary">Checkout</a>
        </div>

    }
    else
    {
        <h5>Cart is empty</h5>
    }
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
